/* css/Header.css */

.HeaderGeral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #11cc2a;
  color: white;
  position: relative;
}

.NomeEscola {
  font-size: 24px;
}

.Navbar {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #333;
  padding: 0;
  margin: 0;
}

.Navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Navbar ul li {
  padding: 10px;
  border-bottom: 1px solid #444;
  cursor: pointer;
  color: white;
}

/* Animação de botão no mobile */
.MenuToggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 10px;
}

.MenuToggle div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Animação de transição para o ícone "X" */
.MenuToggle.open .bar1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.MenuToggle.open .bar2 {
  opacity: 0;
}

.MenuToggle.open .bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Transição do menu mobile */
.Navbar.open {
  display: flex;
  animation: slideDown 0.5s ease-out;
}

.Navbar ul {
  flex-direction: column;
  width: 100%;
}

.Navbar ul li {
  margin: 0;
  text-align: left;
  width: 100%;
}

/* Animação de deslizamento do menu */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Versão desktop */
@media (min-width: 769px) {
  .MenuToggle {
    display: none;
  }

  .Navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
  }

  .Navbar ul {
    display: flex;
    flex-direction: row;
  }

  .Navbar ul li {
    padding: 0;
    margin-right: 20px;
    border-bottom: none;
  }
}

/* Versão mobile */
@media (max-width: 768px) {
  .MenuToggle {
    display: flex;
  }

  .Navbar {
    display: none;
    width: 100%;
  }

  .Navbar.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #333;
    width: 100%;
    padding-top: 10px;
  }

  .Navbar ul {
    flex-direction: column;
  }

  .Navbar ul li {
    margin: 10px 0;
    text-align: left;
    width: 100%;
  }
}
