.swiper {
  width: 100%;
  height: 500px;
  padding-top: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideImage {
  width: 100%;
  height: 10%;
}
